<div class="flex h-screen">
  <lib-sidebar class="h-full"></lib-sidebar>
  <main class="flex-1 overflow-auto p-6">
    @switch (page()) {
    @case ('track-hubs') {
    <lib-track-hubs></lib-track-hubs>
    }
    @case ('custom-upload') {
    <lib-custom-upload></lib-custom-upload>
    }
    @case ('igv') {
    <app-element-overview></app-element-overview>
    <lib-igv [visibilitySignal]="visibilitySignal"></lib-igv>
    }
    @case ('genes') {
    <lib-genes></lib-genes>
    }
    @case ('drugst-one') {
    <lib-drugst-one></lib-drugst-one>
    }
    }
  </main>
</div>

<!-- Toast Container -->
<lib-toast-container></lib-toast-container>